#myThreeJSCanvas {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
}

#userInterface {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.App {
    height: 100vh;
    width: 100vw;
}

.navBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom:1em;
 
}

.navBar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    list-style: none;

    padding: 1em;
    background-color: rgba(41, 41, 41, 0.7);
    border-radius: 3em;

}

.navItem {
    justify-items: center;

}

.navItem button{
    background-color: rgb(35, 11, 57);
    height: 2em;
    width: 100%;
    
    border-radius: 2em;
    padding: 1em;
    padding-left: 1em;
    padding-right: 1em;

    height: 100%;
}

.navItemSelected button {
    background-color:blueviolet;
    border: solid white 2px;
}

.pageContainer {
    
    height: 100vh;
}

.pageContent {
    background-color: rgb(41, 41, 41);
    min-width: 50vw;
    max-width: min(75em, 80vw);
    min-height: 50vh;
    max-height: 60vh;

    border-radius: 2em;
    position: relative;

    padding: 1em;

    display: grid;
    grid-template-columns: auto 2rem;
}

.closeButton {
    grid-column: 2;
    grid-row: 1;
    border-radius: 2rem;
    background-color: brown;
    max-height: 2rem;
    padding: 0;
}

.content {
    background-color: rgb(35, 11, 57);
    height: 45vh;
    overflow-y: scroll;
    border-radius: 1em;
    padding-left: 1em;

    grid-column: 1/3;
    grid-row: 2;
}

@media only screen and (max-width: 700px) {
    .pageContent {
        position: relative;
        bottom: 3rem;
    }

    .navBar {
        margin-bottom: 0;
    }

    .navBar ul {
        margin: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}